.home-page {
  min-height: 100vh;
  padding: 40px;
  background: #3a3936;
  /* Your brownish background */
  color: #fff;
  
}
.navbar{

  background: #15587c;
  
}

.nav-button1 {
  background-color: blue;
}


.side-image-left {

  position: absolute; 
  left: 255px;

}

.side-image-right {
  position: absolute;
  right: 305px;
}

.signup {
  height: 40px;
  margin-bottom: 20px;

}

.home-header {
  text-align: center;
  margin-bottom: 30px;

}

.home-actions {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.home-actions button {
  padding: 10px 20px;
  background-color: #3c2f1d;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
}


/*
.login-section {
  display: absolute;
  bottom: 100px;
}
  */